/**
 * @author Pluto <i#aoaostar.com>
 */

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    margin: auto;
}

@media screen and (max-width: 982px) {

    .panel {
        min-width: 90vw;
    }
}

.radio {
    margin: 1rem 0;

}

.radio>label {
    margin: 0 1rem;

}

.actions {

    margin: 1rem 0;
}

.list-ul {
    height: 60vh;
    overflow: scroll;
}